<!DOCTYPE html>
<html>
<head><title>Book App</title>
<link rel="stylesheet" href="/public/styles/base.css">
</head>
<body>
    <header>
         <h1>Best Books ! </h1>
         <h3>Search Results</h3>
    </header>
<main>
<section id="book"></section>
</main>
<footer><section></section></footer>
</body>
</html>
<!-- res.send(ejs.render (template,data)); -->